$main-color: #002C3E;
$second-color: #78BCC4;
$white: #fff;
$black: #000;
$light-gray: #F7F8F3;
$light-fuchsia: #F7444E;
$blue: #1877F2;

$gray: #EDF0F2;
$second-gray: #969BA3;
$third-gray: #BEBEBE;
$most-gray: #A3B4C0;
$background-color: #f5f5f7;
$f-gray: #65676b;
