doctype html
html(lang="ar" dir='rtl')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel='icon', type='image/x-icon', href='/assets/images/favIcon.png')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include includes/styles.pug
    include includes/mixins.pug
    title الصفحة الرئيسة
  body
    .home-page-layout 
      +navbar('about')
      
      +pageBackgroundSection('من نحن','pagesBg.png')
      main.main-padding
        .container 
          +AboutUs('log-bg.jpg','ما هو موقع كتابي؟','كتابي: موقع إعلامي لعشاق الكتب إذا كنت قارئًا نهمًا يستمتع بمناقشة الكتب والروايات والأشعار مع الآخرين ، فستحب كتابي. كتابي هو موقع تواصل اجتماعي مصمم خصيصًا لعشاق الكتب الذين يرغبون في التواصل مع الآخرين الذين يشاركونهم شغفهم في الأدب.','odd')
          +AboutUs('heroBG.png','كيف يعمل كتابي؟','يسمح كتابي للمستخدمين بإنشاء مجموعات مخصصة لأنواع أو مواضيع معينة ، حيث يمكن للأعضاء مناقشة وتبادل أفكارهم حول الكتب والمؤلفين والموضوعات الأدبية المفضلة لديهم. يمكن للأعضاء أيضًا إنشاء منشورات والمشاركة في مناقشات مع مستخدمين آخرين لديهم اهتمامات مماثلة.','even')
          +AboutUs('heroBG.jpg','مميزات كتابي','من الميزات الفريدة في كتابي أنه يوفر منصة للكتاب لمشاركة أعمالهم الخاصة مع الأعضاء الآخرين. يمكن للشعراء والمؤلفين الطموحين استخدام كتابي لمشاركة أعمالهم وتلقي التعليقات من الأعضاء الآخرين والتواصل مع الكتاب الآخرين في هذا النوع.','odd')
          +AboutUs('discussion1.jpg','ربط نوادي الكتب','يوفر كتابي أيضًا منصة لنوادي الكتاب لربط أنشطتها وتنسيقها. يمكن للأعضاء استخدام كتابي لجدولةالاجتماعات ومناقشة قوائم القراءة ومشاركة المراجعات والتوصيات مع بعضهم البعض.','even')
          +AboutUs('adab.jpg','استكشاف عالم سهل الاستخدام في كتابي','موقع الويب سهل الاستخدام ، ويسهل تصميمه البسيط على المستخدمين التنقل والعثور على ما يبحثون عنه. مع مجتمعها المتنامي من محبي الكتب والكتاب ، تقدم كتابي فرصة عظيمة للأفراد للتفاعل مع الآخرين الذين يشاركونهم اهتماماتهم وتوسيع آفاقهم الأدبية.','odd')



    
    include includes/footer.pug


    include includes/script.pug

