doctype html
html(lang="ar" dir='rtl')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include includes/styles.pug
    title تسجيل الدخول
  body 

    main.log-main 
      .d-grid.log-page-layout 
        .log-box
          .log-box-style
            h1.log-title تسجيل الدخول
            form(action="").log-form
              button(type="submit").log-btn.facebook-btn 
                span الدخول باستخدام فيسبوك
                svg 
                  use(href="/assets/images/icons/icons.svg#facebook")

              button(type="submit").button.log-btn.google-btn 
                span الدخول باستخدام جوجل
                svg 
                  use(href="/assets/images/icons/icons.svg#google")
              .account-exist.d-flex.align-items-center.gap-2 
                p.account-q.m-0 ليس لديك حساب ؟
                a(href="/Sign-up.html").goto-account سجل الأن 
        .log-bg 
            img(src="/assets/images/log-bg.jpg", alt="Bg" , class="log-bg-img")




      footer.log-footer 
        ul 
          li
            a(href="#") من نحن
          li
            a(href="#") سياسة الخصوصية