.footer-box
  .container
    footer.row.row-cols-1.row-cols-sm-2.row-cols-md-5.py-5.border-top
      .col.mb-3
        a.d-flex.align-items-center.mb-3.link-dark.text-decoration-none(href='/')
          img(src="/assets/images/Logo.png", alt="Logo" , class='footer-logo')
      .col.mb-3
      .col.mb-3
        h5 الرئيسة
        ul.nav.flex-column
          li.nav-item.mb-2
            a.nav-link.p-0(href='../../about.html') من نحن
          li.nav-item.mb-2
            a.nav-link.p-0(href='../../contactUs.html') تواصل معنا
          li.nav-item.mb-2
            a.nav-link.p-0(href='#') الأسئلة الشائعة
            
      .col.mb-3
        h5 كتابي
        ul.nav.flex-column
          li.nav-item.mb-2
            a.nav-link.p-0(href='#') سياسة الخصوصية
          li.nav-item.mb-2
            a.nav-link.p-0(href='#') سياسة الاستخدام
          li.nav-item.mb-2
            a.nav-link.p-0(href='#') الشروط و الأحكام

      .col.mb-3
        h5 الأقسام
        ul.nav.flex-column
          li.nav-item.mb-2
            a.nav-link.p-0(href='/categories.html') التصنيفات
          li.nav-item.mb-2
            a.nav-link.p-0(href='#') كتبي
          li.nav-item.mb-2
            a.nav-link.p-0(href='#') الكتب المنضم لها
