// Import Style Files
@use '../variables/colors' as *;

@use '../helpers/mixins' as *;

.about-us-section {
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;

    .about-info-box {
        padding: 25px 15px;
    }

    .about-img {
        max-width: 100%;
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
}
