// Start Import Files
@use '../layout/global-rules' as *;

@use '../variables/colors' as *;

@use '../helpers/classes' as *;

@use '../helpers/mixins' as *;

.hero-section {
    @include centering;

    video {
        &.hero-bg {
            width: 100%;
            max-width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    .hero-text-container {
        @include centering;

        flex-direction: column;
        gap: 20px;
        position: absolute;
        z-index: 2;

        .hero-title {
            color: $white;
            font-weight: 700;
        }

        .hero-subtitle {
            color: $white;
            font-size: 18px;
        }
    }
}
